<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.tcredit.uniqueIdSystem.dao.mapper.UuidTabMapper">

    <resultMap id="uuidTabResultMap" type="com.tcredit.uniqueIdSystem.pojo.UuidTabObj">
        <result property="uniqueId" column="unique_id"/>
        <result property="name" column="name"/>
        <result property="cardNo" column="card_no"/>
        <result property="cardType" column="card_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

    </resultMap>


    <sql id="columns">
<![CDATA[

		unique_id,name,card_no,card_type,create_time,update_time

        ]]>
</sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="name">
        <![CDATA[
        INSERT INTO uuid_tab (
        	unique_id ,
        	name ,
        	card_no ,
        	card_type ,
        	create_time ,
        	update_time 
        ) VALUES (
        	#{uniqueId} ,
        	#{name} ,
        	#{cardNo} ,
        	#{cardType} ,
        	#{createTime} ,
        	#{updateTime} 
        )
    ]]>
        <!--
            oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL
            DB2: order="BEFORE"" values nextval for sequenceName
        <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
            SELECT sequenceName.nextval AS ID FROM DUAL
        </selectKey>
        -->
    </insert>

    <update id="update">
        UPDATE uuid_tab SET
        <trim suffixOverrides=",">
            <if test="uniqueId != null">
                unique_id = #{uniqueId},
            </if>
            <if test="cardType != null">
                card_type = #{cardType},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </trim>
        WHERE
        name = #{name} ,
        card_no = #{cardNo}
    </update>


    <select id="getById" resultMap="uuidTabResultMap">
        SELECT
        <include refid="columns"/>
        <![CDATA[
		    FROM uuid_tab
	        WHERE name = #{name} and card_no = #{cardNo}
	    ]]>
    </select>

    <sql id="where">
        <where>
            <if test="uniqueId != null">
                AND unique_id = #{uniqueId}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="cardNo != null">
                AND card_no = #{cardNo}
            </if>
            <if test="cardType != null">
                AND card_type = #{cardType}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime}
            </if>
        </where>
    </sql>

    <select id="count" resultType="long">
        SELECT count(*) FROM uuid_tab
        <include refid="where"/>
    </select>


    <select id="findPage" resultMap="uuidTabResultMap">
        SELECT
        <include refid="columns"/>
        FROM uuid_tab
        <include refid="where"/>

        <if test="@Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>

    <select id="getByUniqueId" resultMap="uuidTabResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="columns"/>
        <![CDATA[
	        FROM uuid_tab where unique_id = #{uniqueId}
	    ]]>
    </select>


    <select id="getRelatedUuidTab" resultMap="uuidTabResultMap">
        select
        <include refid="columns"/>
        from
        uuid_tab
        where name=#{value}
    </select>


    <select id="queryForList" resultMap="uuidTabResultMap">
        SELECT
        <include refid="columns"/>
        FROM uuid_tab
        <include refid="where"/>
    </select>

</mapper>

